.title-container--title {
    margin-right: auto;
}

.title-container {
    align-items: center;
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.product-details--information {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.product-details--image {
    min-width: 50%;
}

.product-image--container {
    position: relative;
}

.product-details--information img {
    max-height: 80vh;
    order: 0;
}
.product-image {
    margin-bottom: auto;
    margin-top: auto;
    max-height: 300px;
    object-fit: contain;
    width: 100%;
}

@media (min-width: 600px) {
    .product-details--information {
    flex-direction: row-reverse;
    }
}
